<div class="container-fluid">
  <!-- Botón del menú colapsado cuando el dispositivo es pequeño -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-colapsado">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <% if(!(session.user)){ %>
      <form method="GET" action="/login"  id="frm_login" class="form-horizontal navbar-brand">
      <span onclick='frm_login.submit();' class='glyphicon glyphicon-user puntero' rel="popover" data-trigger="hover" data-content="Login"></span>
    </form>
    <% } else { %>
      <form method="POST" action="/logout?_method=delete"  id="frm_logout" class="form-horizontal navbar-brand">
      <span onclick="frm_logout.submit();" class='glyphicon glyphicon-off puntero' rel="popover" data-trigger="hover" data-content="Logout <%= session.user.username %>"></span>
      </form>
    <% } %>
    <a class="navbar-brand" href="/author">Autor</a>
  </div>
  <!-- Ordenes del menú de navegación -->
  <div class="collapse navbar-collapse" id="menu-colapsado">
    <ul class="nav navbar-nav">
      <li><a href="/">Inicio</a></li>
      <li><a href="/quizes">Preguntas</a></li>
    </ul>
  </div>
</div>
