<div class="container-fluid">
  <!-- Botón del menú colapsado cuando el dispositivo es pequeño -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-colapsado">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- Ordenes del menú de navegación -->
  <div class="collapse navbar-collapse" id="menu-colapsado">
    <ul class="nav navbar-nav">
      <li><a href="/">Inicio</a></li>
      <li><a href="/quizes/question">Preguntas</a></li>
    </ul>
  </div>
</div>
