    <a class="btn btn-primary btn-sm" href="http://es.wikipedia.org/wiki/Quiz" target="_blank">¿Que es un Quiz?</a>&nbsp;&nbsp;
    <a class="btn btn-primary btn-sm" href="https://github.com/lrocabuso/quizl" target="_blank">Proyecto en GITHUB</a>
