<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Crear comentario</h3>
    </div>
    <div class="panel-body">
    <legend><%= quiz.pregunta %></legend>
    <!-- los datos del formulario se los enviaremos en el cuerpo de la transaccion a la accion create del controlador -->
    <form method="POST" action="/quizes/<%=quizId%>/comments" class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <!-- Incluimos la clase hidden-xs de Bootstrap para que se oculte en telefonos -->
          <label for="commt" class="col-lg-2 control-label hidden-xs">Comentario</label>
          <div class="col-lg-10">
          <input class="form-control" id="commnt" name="comment[texto]" placeholder="Introduzca comentario" value="" type="text">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
          <a type="button" class="btn btn-default" href='/quizes/<%=quizId%>'>Volver</a>
          <button type="reset" class="btn btn-warning">Borrar datos</button>
          <button type="submit" class="btn btn-primary">Guardar comentario</button>
          </div>
        </div>
      </fieldset>
    </form>
    </div>
</div>
