<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">AUTOR PRACTICA QUIZL</h3>
  </div>
  <div class="panel-body">
    <div class="rows">
      <div class="col-sm-4 col-md-3 col-lg-3">
      <a href="https://es.linkedin.com/pub/luis-roca-bus%C3%B3/58/bb7/a32" target="_blank" rel="popover" data-trigger="hover" data-content="Perfil Linkedin">
        <img src="https://media.licdn.com/media/p/1/000/1a4/3a5/37c80c5.jpg" width="180" height="180" alt="imagen-autor" title='' >
      </a>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-9">
      <h4>Luis Roca Busó</h4>

      <p>Utilizando el modelo MVC con express, desarrollamos una aplicación de nodejs para realizar preguntas a los
         usuarios y contestar a la respuesta con un mensaje que le indique si es correcta o incorrecta.</p>
      <p>En el módulo 7 se integra con Heroku con la BD Postgress.</p>
      </div>
      <div class="clearfix"></div>
      <p>&nbsp;</p>
      <p>Como no tengo un video de 30seg os muestro un documental sobre los arrecifes que encontre en YOUTBE.</p>
      <p>&nbsp;</p>
      <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
          <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/5hxc8zAuF9A" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
    </div>
  </div>
</div>
