
<div class="panel panel-danger">
    <div class="panel-heading">
      <h2 class="panel-title"><%= message %></h2>
    </div>
    <div class="panel-body">
      <h3 class="text-danger"><%= error.status %></h3>
      <p class="text-danger">
      <pre><%= error.stack %></pre>
      </p>
    </div>
</div>
