    <div class="jumbotron">
     <h1><%= title %></h1>
     <p>Bienvenido a la web donde podemos crear juegos de preguntas simples</p>
     <p><a class='btn btn-primary btn-md' href='/quizes'>Comience a jugar.</a></p>
    </div>
