<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Quiz Creator</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Author" content="Luis Roca Busó"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/darkly/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body lang="es">
    <!-- ZONA DE CABECERA -->
    <header  id="h1">
    <% include ./includes/cabecera_pagina %>
    </header>
    <!--ZONA DE NAVEGACION -->
    <nav class="navbar navbar-default" role="navigation" id="n1">
    <% include ./includes/menu_navegacion %>
    </nav>
    <!-- ZONA DE CONTENIDOS -->
    <div class="container">
      <section  id="s1">
        <%- body %>
      </section>
    </div>
    <!-- ZONA DE PIE DE PAGINA -->
    <footer class="footer"   id="f1">
    <% include ./includes/pie_pagina %>
    </footer>
    <!-- ZONA DE CARGA DE SCRIPTS EXTERNOS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>$('[rel=popover]').popover();</script>
  </body>
</html>
