<fieldset>
  <div class="form-group">
    <!-- Incluimos la clase hidden-xs de Bootstrap para que se oculte en telefonos -->
    <label for="preg" class="col-lg-2 control-label hidden-xs">Texto pregunta</label>
    <div class="col-lg-10">
      <!-- Si Añadimos atributo required de HTML5 para que sea obligatorio rellenar el campo
           nos podíramos ahorrar la validaci´ón a nivel de models de quiz.js
      -->
    <input class="form-control" id="preg" name="quiz[pregunta]" placeholder="Introduzca pregunta" value="<%= quiz.pregunta %>" type="text">
    </div>
  </div>
  <div class="form-group">
    <!-- Incluimos la clase hidden-xs de Bootstrap para que se oculte en telefonos -->
    <label for="resp" class="col-lg-2 control-label hidden-xs">Respuesta</label>
    <div class="col-lg-10">
      <!-- Si Añadimos atributo required de HTML5 para que sea obligatorio rellenar el campo
           nos podíramos ahorrar la validaci´ón a nivel de models de quiz.js
      -->
    <input class="form-control" id="resp" name="quiz[respuesta]" placeholder="Introduzca respuesta" value="<%= quiz.respuesta %>" type="text">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
    <a type="button" class="btn btn-default" href='/quizes'>Volver</a>
    <button type="reset" class="btn btn-warning">Borrar datos</button>
    <button type="submit" class="btn btn-primary">Guardar pregunta</button>
    </div>
  </div>
</fieldset>
