<div class="panel panel-default">
  <div class="panel-body">
    <!-- nuevo formulario de busquedas -->
    <form method="GET" action="/quizes" class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label for="search" class="col-lg-2 col-md-2 control-label">Buscar preguntas </label>
        <div class="col-lg-8 col-md-8">
        <input class="form-control" id="search" name="search" placeholder="Introduce patrón de búsqueda" type="text" required>
        </div>
        <div class="col-lg-2 col-md-2">
        <button type="submit" class="btn btn-primary"><span class='glyphicon glyphicon-search'></span></button>
        </div>
      </div>
    </fieldset>
    </form>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Seleccione una pregunta (<span class="badge"><%= preguntas.length %></span>)</h3>
      </div>
      <div class="panel-body">
      <!-- Utilizamos div responsive para que la tabla se pueda adaptar a los dispositivos moviles-->
      <div class="table-responsive">
        <table class="table">
          <tbody>
          <% var a; for(i=0; i < preguntas.length; i++) { %>
            <tr><td><a href='/quizes/<%= preguntas[i].id %>/edit'><span class='glyphicon glyphicon-edit' rel="popover" data-trigger="hover" data-content="Editar"></span></a>&nbsp;&nbsp;&nbsp;<a href='quizes/<%= preguntas[i].id %>'><%= preguntas[i].pregunta %></a></td></tr>
          <% } %>
        </tbody>
        </table>
      </div>
      </div>
  </div>
  <a type="button" class="btn btn-default" href='/quizes/new'>Crear pregunta</a>
  <% if(patron !== '%%') { %>
    <a type="button" class="btn btn-warning" href='/quizes'>Borrar filtro</a>
  <% } %>
  </div>
</div>
