    <!-- Si deseamos enviar la respuesta oculta el cuerpo del documento utilizaremos el método POST -->
    <form method="GET" action="/quizes/answer">
      <p>Pregunta: <%= pregunta %></p>
      <input type="text" name="respuesta" value="Introduce respuesta" />
      <input type="submit" value="Enviar respuesta" />
    </form>
