<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Responda a la pregunta</h3>
    </div>
    <div class="panel-body">
    <!-- Si deseamos enviar la respuesta oculta el cuerpo del documento utilizaremos el método POST -->
    <!-- En el módulo 7 añadimos el id de la pregunta como parametro -->
    <form method="GET" action="/quizes/<%= pregunta.id %>/answer" class="form-horizontal">
    <fieldset>
      <legend><%= pregunta.pregunta %></legend>
      <div class="form-group">
        <label for="resp" class="col-lg-2 control-label">Respuesta</label>
        <div class="col-lg-10">
          <!-- Añadimos atributo required de HTML5 para que sea obligatorio rellenar el campo -->
        <input class="form-control" id="resp" name="respuesta" placeholder="Introduce respuesta" type="text" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
        <a type="button" class="btn btn-default" href='/quizes'>Volver</a>
        <button type="reset" class="btn btn-warning">Borrar respuesta</button>
        <button type="submit" class="btn btn-primary">Enviar respuesta</button>
        </div>
      </div>
    </fieldset>
    </form>
    </div>
</div>
