<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Editar Usuario (<%= user.login %>)</h3>
    </div>
    <div class="panel-body">
    <form method="POST" action="/users/<%= user.id %>?_method=put" class="form-horizontal">
      <% include _form.ejs %>
    </form>
    </div>
</div>
